<h2><%= link_to l(:label_agentos_release_planner), agentos_releases_path(project_id: @project.id) %> &raquo; <%= @sprint.name %></h2>

<h3><%= l(:label_agentos_ticket_board, default: 'Ticket Board') %></h3>
<% if @counts_by_status.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:field_status) %></th>
        <th><%= l(:label_agentos_ticket_count, default: 'Tickets') %></th>
      </tr>
    </thead>
    <tbody>
      <% @counts_by_status.each do |status, count| %>
        <tr>
          <td><%= status %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
