<h2><%= l(:label_agentos_admin_prompt_library) %></h2>

<% if @templates.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:label_agentos_key, default: 'Key') %></th>
        <th><%= l(:field_agent, default: 'Agent') %></th>
        <th><%= l(:label_agentos_active_version, default: 'Active Version') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @templates.each do |template| %>
        <tr>
          <td><%= template.key %></td>
          <td><%= template.agent_id ? RedminefluxAgentosAgent.find_by(id: template.agent_id)&.name : l(:label_agentos_shared, default: 'Shared') %></td>
          <td>v<%= template.version %></td>
          <td><%= link_to l(:button_edit), edit_admin_prompt_template_path(id: template.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
