<h2><%= l(:label_agentos_release_planner) %></h2>

<% if @releases.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_status) %></th>
      </tr>
    </thead>
    <tbody>
      <% @releases.each do |release| %>
        <tr>
          <td><%= link_to release.name, agentos_release_path(project_id: @project.id, id: release.id) %></td>
          <td><%= release.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
